@* top navigation bar *@
@inject NavigationManager Nav

<nav class="top-nav">

    @* brand *@
    <div class="nav-brand">
        GLMS <span class="accent">·</span> TechMove
    </div>

    @* nav links *@
    <ul class="nav-links">
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="clients">
                Clients
            </NavLink>
        </li>
        <li>
            <NavLink href="contracts">
                Contracts
            </NavLink>
        </li>
        <li>
            <NavLink href="servicerequests">
                Service Requests
            </NavLink>
        </li>
    </ul>

</nav>